<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <package android:name="com.kareem.secondbrain" />
    </queries>

    <application
        android:name=".CortexApp"
        android:allowBackup="false"
        android:label="Cortex"
        android:theme="@style/Theme.CortexRebuild"
        android:icon="@drawable/ic_cortex"
        android:roundIcon="@drawable/ic_cortex">

        <service
            android:name=".CortexLocalBusService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kareem.cortex.LOCAL_BUS_V1" />
                <action android:name="com.kareem.cortex.rebuild.LOCAL_BUS_V1" />
            </intent-filter>
        </service>

        <activity
            android:name=".AsrSettingsActivity"
            android:exported="false"
            android:label="Cortex Voice Setup" />

        <activity
            android:name=".CaptureActivity"
            android:exported="true"
            android:theme="@style/Theme.CortexCapture"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>